html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "UTMItalic";
  src: url("../../../public/fonts/UTM\ AvoItalic.ttf");
}
@font-face {
  font-family: "UTMBold";
  src: url("../../../public/fonts/UTM\ AvoBold.ttf");
}
@font-face {
  font-family: "SFUDax";
  src: url("../../../public/fonts/00233-SFUDaxCondensedExtraBold.TTF");
}
@font-face {
  font-family: "Myriad";
  src: url("../../../public/fonts/Myriad\ Pro\ Semibold.ttf");
}
.ant-tabs {
  overflow: visible !important;
}
.ant-tabs-nav {
  margin-top: 35px;
}
.ant-tabs-tab {
  background: transparent !important;
  border: none !important;
  padding: 13px 31px !important;
}
.ant-tabs-tab-active {
  background: linear-gradient(
    90deg,
    rgba(11, 234, 148, 1) 0%,
    rgba(11, 234, 148, 0) 100%
  ) !important ;
}
.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #1d407d !important;
}
.ant-tabs-tab-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 20.83px;
  text-transform: uppercase;
  color: #1d407d;
  font-weight: 600;
}
.ant-tabs-content-holder {
  border: none !important;
  min-height: 654px !important;
  text-align: center;
}

.project {
  top: -126px;
  left: 47px;
  max-width: 900px;
}
.project .slick-slide {
  width: auto !important;
}
.sponsor {
  max-width: 60%;
  margin: auto;
}
.sponsor .slick-slide div {
  text-align: center;
}
/* .sponsor .slick-slide span {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.ant-modal-header {
  border-bottom: none !important;
}
.ant-modal-body {
  padding: 20px 45px !important;
}

.scrolled {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 2;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.scrolled li a {
  color: black;
}

@media (max-width: 1440px) {
  .project {
    left: -20px;
  }
}
@media (max-width: 1200px) {
  .project {
    top: 0px;
  }
  .sponsor {
    max-width: 80%;
  }
}
@media (max-width: 920px) {
  .project .slick-slide span {
    max-width: 250px !important;
    max-height: 280px;
  }
  .scrolled li a {
    color: white;
  }
  .ant-tabs-tab-btn {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .project {
    left: 0;
  }
  .project .slick-slide span {
    max-width: 100%;
    max-height: 100%;
  }
  .ant-tabs-tab-active {
    background: #1ac667 !important;
  }
  .ant-tabs-tab-btn {
    font-size: 15px;
  }
  .sponsor {
    max-width: 100%;
  }
  .ant-tabs-content-holder {
    min-height: 350px !important;
  }
}
/* @media (max-width: 480px) {
  .project .slick-slide span {
    width: 400px !important;
    height: 449px !important;
  }
} */
